<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @reunion.date %>
</p>

<p>
  <b>Subject:</b>
  <%= @reunion.subject %>
</p>

<p>
  <b>Duration:</b>
  <%= @reunion.duration %>
</p>

<p>
  <b>Place:</b>
  <%= @reunion.place %>
</p>


<%= link_to 'Edit', edit_reunion_path(@reunion), :class => 'btn btn-small' %> |
<%= link_to 'Back', reunions_path, :class => 'btn btn-small' %>
