<h1>Add Artefact to Reunion </h1>

<p id="notice"><%= notice %></p>

<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>Date</th>
    <th>Subject</th>
    <th>Place</th>
  </tr>

  <tr>
    <td><%= @reunion.date %></td>
    <td><%= @reunion.subject %></td>
    <td><%= @reunion.place %></td>
  </tr>
</table>


<h2>Artefacts</h2>
<!-- <select class="control-group" id="artefact_type" name="artefact_type"> 
   <option value="0">Select the type of artefact</option> 
   <option value="1">Image</option> 
   <option value="2">Audio</option> 
   <option value="3">Video</option> 
</select> 

<br /> -->

<h3>Images</h3>
<% if @reunion.images.size == 0%>
	<h4>La reuni칩n no tiene im치genes asociadas</h4>
<% elsif @reunion.images.size > 0%>
	<table class='table table-striped table-condensed'>
		<tr>
    		<th>Title</th>
    		<th>Options</th>
		</tr>

		<% @reunion.images.each do |image| %>
			<tr>
    			<td><%= image.title %></td>
    			<td><%= link_to 'Show', image, :class => 'btn btn-small' %>
    				<%= link_to "Decouple", decouple_image_path(image), :class => 'btn btn-small', data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Download', download_image_path(image) %>
          </td>
    		</tr>
    	<% end %>

	</table>
<% end %>
<%= link_to 'Add new Image', new_image_path, :class => 'btn btn-primary' %>


<h3>Audios</h3>
<% if @reunion.audios.size == 0%>
	<h4>La reuni칩n no tiene audios asociados</h4>
<% elsif @reunion.audios.size > 0%>
	<table class='table table-striped table-condensed'>
		<tr>
    		<th>Title</th>
    		<th>Options</th>
		</tr>
		<% @reunion.audios.each do |audio| %>
			<tr>
    			<td><%= audio.title %></td>
    			<td><%= link_to 'Show', audio, :class => 'btn btn-small' %>
    			    <%= link_to "Decouple", decouple_audio_path(audio), :class => 'btn btn-small', data: { confirm: 'Are you sure?' } %>
              <%= link_to 'Download', download_audio_path(audio) %>
          </td>
    		</tr>
    	<% end %>
	</table>
<% end %>
<%= link_to 'Add new Audio', new_audio_path, :class => 'btn btn-primary' %>


<h3>Videos</h3>
<% if @reunion.videos.size == 0%>
	<h4>La reuni칩n no tiene videos asociados</h4>
<% elsif @reunion.videos.size > 0%>
	<table class='table table-striped table-condensed'>
		<tr>
    		<th>Title</th>
    		<th>Options</th>
		</tr>
		<% @reunion.videos.each do |video| %>
			<tr>
    			<td><%= video.title %></td>
    			<td><%= link_to 'Show', video, :class => 'btn btn-small' %>
    			    <%= link_to "Decouple", decouple_video_path(video), :class => 'btn btn-small', data: { confirm: 'Are you sure?' } %>
              <%= link_to 'Download', download_video_path(video) %>	
          </td>
    		</tr>
    	<% end %>
	</table>
<% end %>
<%= link_to 'Add new Video', new_video_path, :class => 'btn btn-primary' %>
